<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link th:href="@{admin/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{admin/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{admin/vendors/themify-icons/css/themify-icons.css}" rel="stylesheet">
    <link th:href="@{admin/vendors/flag-icon-css/css/flag-icon.min.css}" rel="stylesheet">
    <link th:href="@{admin/vendors/selectFX/css/cs-skin-elastic.css}" rel="stylesheet">

    <script th:src="@{admin/vendors/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{admin/vendors/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{admin/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{admin/assets/js/main.js}"></script>


</head>

<body>
<nav class="navbar navbar-light" style="background-color: #cb790f;">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-9">
            <div class="h-75" style="min-height: 330px; max-height: 330px; overflow-y: auto;">
                <div class="row border border rounded m-3 d-flex justify-content-center align-items-center">
                    <div class="col-1 text-center">
                        <h4>1</h4>
                    </div>
                    <div class="col-2 text-center">
                        <img src="/images/avatar/3.jpg" alt="..." class="rounded">
                    </div>
                    <div class="col-2 text-center">
                        <h6>Quan Vai Kaki sieu dep</h6>
                    </div>
                    <div class="col-2 text-center">
                        <input min="0" max="50" value="0" class="m-2" style="width: 55px;" type="number">
                    </div>
                    <div class="col-2 text-center">
                        <h5>32.000 d</h5>
                    </div>
                    <div class="col-2 text-center">
                        <h5>459.000 d</h5>
                    </div>

                    <div class="col-1 text-center">
                        <button type="button" class="btn btn-danger m-1"><i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="row border border rounded m-3 d-flex justify-content-center align-items-center">
                    <div class="col-1 text-center">
                        <h4>1</h4>
                    </div>
                    <div class="col-2 text-center">
                        <img src="/images/avatar/6.jpg" alt="..." class="rounded">
                    </div>
                    <div class="col-2 text-center">
                        <h6>Quan Vai Kaki sieu dep</h6>
                    </div>
                    <div class="col-2 text-center">
                        <input min="0" max="50" value="0" class="m-2" style="width: 55px;" type="number">
                    </div>
                    <div class="col-2 text-center">
                        <h5>32.000 d</h5>
                    </div>
                    <div class="col-2 text-center">
                        <h5>459.000 d</h5>
                    </div>

                    <div class="col-1 text-center">
                        <button type="button" class="btn btn-danger m-1"><i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="row border border rounded m-3 d-flex justify-content-center align-items-center">
                    <div class="col-1 text-center">
                        <h4>1</h4>
                    </div>
                    <div class="col-2 text-center">
                        <img src="/images/avatar/4.jpg" alt="..." class="rounded">
                    </div>
                    <div class="col-2 text-center">
                        <h6>Quan Vai Kaki sieu dep</h6>
                    </div>
                    <div class="col-2 text-center">
                        <input min="0" max="50" value="0" class="m-2" style="width: 55px;" type="number">
                    </div>
                    <div class="col-2 text-center">
                        <h5>32.000 d</h5>
                    </div>
                    <div class="col-2 text-center">
                        <h5>459.000 d</h5>
                    </div>

                    <div class="col-1 text-center">
                        <button type="button" class="btn btn-danger m-1"><i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="row border border rounded m-3 d-flex justify-content-center align-items-center">
                    <div class="col-1 text-center">
                        <h4>1</h4>
                    </div>
                    <div class="col-2 text-center">
                        <img src="/images/avatar/4.jpg" alt="..." class="rounded">
                    </div>
                    <div class="col-2 text-center">
                        <h6>Quan Vai Kaki sieu dep</h6>
                    </div>
                    <div class="col-2 text-center">
                        <input min="0" max="50" value="0" class="m-2" style="width: 55px;" type="number">
                    </div>
                    <div class="col-2 text-center">
                        <h5>32.000 d</h5>
                    </div>
                    <div class="col-2 text-center">
                        <h5>459.000 d</h5>
                    </div>

                    <div class="col-1 text-center">
                        <button type="button" class="btn btn-danger m-1"><i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="row border border rounded m-3 d-flex justify-content-center align-items-center">
                    <div class="col-1 text-center">
                        <h4>1</h4>
                    </div>
                    <div class="col-2 text-center">
                        <img src="/images/avatar/4.jpg" alt="..." class="rounded">
                    </div>
                    <div class="col-2 text-center">
                        <h6>Quan Vai Kaki sieu dep</h6>
                    </div>
                    <div class="col-2 text-center">
                        <input min="0" max="50" value="0" class="m-2" style="width: 55px;" type="number">
                    </div>
                    <div class="col-2 text-center">
                        <h5>32.000 d</h5>
                    </div>
                    <div class="col-2 text-center">
                        <h5>459.000 d</h5>
                    </div>

                    <div class="col-1 text-center">
                        <button type="button" class="btn btn-danger m-1"><i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="row border border rounded m-3 d-flex justify-content-center align-items-center">
                    <div class="col-1 text-center">
                        <h4>1</h4>
                    </div>
                    <div class="col-2 text-center">
                        <img src="/images/avatar/4.jpg" alt="..." class="rounded">
                    </div>
                    <div class="col-2 text-center">
                        <h6>Quan Vai Kaki sieu dep</h6>
                    </div>
                    <div class="col-2 text-center">
                        <input min="0" max="50" value="0" class="m-2" style="width: 55px;" type="number">
                    </div>
                    <div class="col-2 text-center">
                        <h5>32.000 d</h5>
                    </div>
                    <div class="col-2 text-center">
                        <h5>459.000 d</h5>
                    </div>

                    <div class="col-1 text-center">
                        <button type="button" class="btn btn-danger m-1"><i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="row border border rounded m-3 d-flex justify-content-center align-items-center">
                    <div class="col-1 text-center">
                        <h4>1</h4>
                    </div>
                    <div class="col-2 text-center">
                        <img src="/images/avatar/4.jpg" alt="..." class="rounded">
                    </div>
                    <div class="col-2 text-center">
                        <h6>Quan Vai Kaki sieu dep</h6>
                    </div>
                    <div class="col-2 text-center">
                        <input min="0" max="50" value="0" class="m-2" style="width: 55px;" type="number">
                    </div>
                    <div class="col-2 text-center">
                        <h5>32.000 d</h5>
                    </div>
                    <div class="col-2 text-center">
                        <h5>459.000 d</h5>
                    </div>

                    <div class="col-1 text-center">
                        <button type="button" class="btn btn-danger m-1"><i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="row border border rounded m-3 d-flex justify-content-center align-items-center">
                    <div class="col-1 text-center">
                        <h4>1</h4>
                    </div>
                    <div class="col-2 text-center">
                        <img src="/images/avatar/4.jpg" alt="..." class="rounded">
                    </div>
                    <div class="col-2 text-center">
                        <h6>Quan Vai Kaki sieu dep</h6>
                    </div>
                    <div class="col-2 text-center">
                        <input min="0" max="50" value="0" class="m-2" style="width: 55px;" type="number">
                    </div>
                    <div class="col-2 text-center">
                        <h5>32.000 d</h5>
                    </div>
                    <div class="col-2 text-center">
                        <h5>459.000 d</h5>
                    </div>

                    <div class="col-1 text-center">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
                <div class="row border border rounded m-3 d-flex justify-content-center align-items-center">
                    <div class="col-1 text-center">
                        <h4>1</h4>
                    </div>
                    <div class="col-2 text-center">
                        <img src="/images/avatar/4.jpg" alt="..." class="rounded">
                    </div>
                    <div class="col-2 text-center">
                        <h6>Quan Vai Kaki sieu dep</h6>
                    </div>
                    <div class="col-2 text-center">
                        <input min="0" max="50" value="0" class="m-2" style="width: 55px;" type="number">
                    </div>
                    <div class="col-2 text-center">
                        <h5>32.000 d</h5>
                    </div>
                    <div class="col-2 text-center">
                        <h5>459.000 d</h5>
                    </div>

                    <div class="col-1 text-center">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
            <div class="mt-2" style="min-height: 200px;">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">Khách hàng</a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <button type="button" class="btn btn-primary m-1"><i
                                class="fa fa-filter"></i>&nbsp;
                        </button>
                        <div class="row">
                            <div class="col-xl-2 border border rounded m-3">
                                <img src="/images/avatar/6.jpg" alt="..." class="rounded w-100 m-1">
                                <h6>Mũ lưỡi trai tím</h6>
                                <span>230.000 đ</span>
                            </div>
                            <div class="col-xl-2 border border rounded m-3">
                                <img src="/images/avatar/6.jpg" alt="..." class="rounded w-100 m-1">
                                <h6>Mũ lưỡi trai tím</h6>
                                <span>230.000 đ</span>
                            </div>
                            <div class="col-xl-2 border border rounded m-3">
                                <img src="/images/avatar/6.jpg" alt="..." class="rounded w-100 m-1">
                                <h6>Mũ lưỡi trai tím</h6>
                                <span>230.000 đ</span>
                            </div>
                            <div class="col-xl-2 border border rounded m-3">
                                <img src="/images/avatar/6.jpg" alt="..." class="rounded w-100 m-1">
                                <h6>Mũ lưỡi trai tím</h6>
                                <span>230.000 đ</span>
                            </div>
                            <div class="col-xl-2 border border rounded m-3">
                                <img src="/images/avatar/6.jpg" alt="..." class="rounded w-100 m-1">
                                <h6>Mũ lưỡi trai tím</h6>
                                <span>230.000 đ</span>
                            </div>
                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-xl-3">
                                <div class="input-group m-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa fa-phone-square"></i>
                                            </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Phone" aria-label="Phone"
                                           aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="input-group m-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa fa-group (alias)"></i>
                                            </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Username"
                                           aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="input-group m-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa fa-flag"></i>
                                            </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                                           aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3">
                                <div class="input-group m-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa fa-phone-square"></i>
                                            </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Address"
                                           aria-label="Address" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="input-group m-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa fa-group (alias)"></i>
                                            </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Username"
                                           aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="input-group m-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa fa-flag"></i>
                                            </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                                           aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary m-1">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 border rounded" style="background-color: rgb(230, 235, 235); min-height: 700px;">
            <div>
                <div class="row mb-3">
                    <div class="col">
                        <h5>Tổng tiền: </h5>
                    </div>
                    <div class="col">
                        <h5>320.000 đ</h5>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <h5>Voucher: </h5>
                    </div>
                    <div class="col">
                        <h6 style="color: red;">Click vào để chọn</h6>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <h6>Giảm giá sản phẩm: </h6>
                    </div>
                    <div class="col">
                        <h6>320.000 đ</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6>Giảm giá voucher: </h6>
                    </div>
                    <div class="col">
                        <h6>320.000 đ</h6>
                    </div>
                </div>
                <hr>
                <div class="row mb-3">
                    <div class="col">
                        <h6>Chiết khấu: </h6>
                    </div>
                    <div class="col">
                        <h6>230.000</h6>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <h5>Khách phải trả: </h5>
                    </div>
                    <div class="col">
                        <h5 style="color: red; border-bottom: 1px solid black;">320.000 đ</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6>Tiền khách đưa: </h6>
                    </div>
                    <div class="col">
                        <input type="number" name="" id="">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h6>Tiền thừa trả khách: </h6>
                    </div>
                    <div class="col">
                        <h6>324.000</h6>
                    </div>
                </div>
                <input type="radio" name="" id=""> <label for="">Tiền mặt</label>
                <input type="radio" name="" id=""> <label for="">Thẻ</label>
                <input type="radio" name="" id=""> <label for="">Chuyển khoản</label>

                <button class="btn "
                        style="background-color: #cb790f; color: aliceblue; width: 350px; height: 70px;">THANH
                    TOÁN
                </button>
            </div>
        </div>
    </div>
</div>
<script src="vendors/jquery/dist/jquery.min.js"></script>
<script src="vendors/popper.js/dist/umd/popper.min.js"></script>
<script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/js/main.js"></script>

</body>

</html>